@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: #030712;
}

.text-muted {
  color: #6b7280;
}

.list {
  padding: 1.25rem;
  display: grid;
  gap: 1.25rem;
}

.text-14 {
  font-size: 0.875rem;
}

.text-red {
  color: #ef4444;
}

.font-500 {
  font-weight: 500;
}

a {
  text-decoration: none;
}
